body {
	display: flex;
	justify-content: space-around;
	padding-top: 100px;
	flex-wrap:wrap;
	overflow-x: hidden;
	align-items: flex-start;
}

#container1, #container2 {
	margin-top: 20px;
	width: 300px;
	min-height: 150px;
	background-color: #E3DAF6;
	box-sizing: border-box;
	box-shadow: 15px 15px 15px grey;
	border-radius: 10px;
	padding-bottom: 5px;
}

#header {
	margin: 0 auto;
	width: 80%;
	height:20px;
	/*box-sizing: border-box;*/
	display: flex;
	justify-content: space-between;
}
#for_input {
	display: flex;
	justify-content: space-around;
}
input {
	outline-style: none;
	width: 40px;
	border-radius: 5px;
	background-color: #BFC9CA;
}

.for_buttons {
	width: 280px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}


.for_button {
	margin: 10px auto;
	width: 300px;
	display: flex;
	justify-content: center;
}

.for_button input {
	width: 100px;
	display: block;
	background-color:#ABB2B9;
}


#for_table {
	/*background-color: red*/;
	width: auto;
	margin: 5px;
	/*padding-top: 20px;*/
	display: block;
	box-sizing: border-box;
}

table {
	border-radius: 10px;
	max-height: 185px;
	margin: 0 auto;
	background-color:#ABB2B9;
	min-width: 90%;
	width: auto;
	text-align: center;
}

td {
	border-radius: 4px;
	background-color: #C8C9F4;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 3px;
	text-align: center;
	line-height: 2 0px;
	opacity: all 2s;
	cursor: default;
}

.td-active {
	cursor: pointer;
}

.create_col, .create_row {
	width: 40%;
	visibility: hidden;
	position: absolute;
	font-size: 11px;
}

.create_col {
	create_col: right;
}

.del_row, .del_col	{
	width: 40%;
	color: red;
	position: absolute;
	visibility: hidden;
	font-size: 11px;
}

.btn_action {
	visibility: visible;
	position: static;
}

.del_active:hover {
	color: red;
}

.ajax_btns {
	display: flex;
	justify-content: space-between;
	width: 250px;
	margin: 10px auto;
}

.ajax_btns input {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.loader {
	visibility: hidden;
	/*transform: translate(-50%, -50%);*/
	transform-origin: center;
	border: 10px solid #2f3640;
	border-top: 10px solid blue;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.5;
}

.loading {
	visibility: visible;
	animation: spin 2s ease infinite;
}

.loader-fail {
	border-color: red;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(360deg);
	}

	100% {
		transform: rotate(1080deg);
	}
}
